<!DOCTYPE html>
<html>
<head>
<title>order details</title>
</head>
<body>
    <form><br>
     Hello <input type="text" id="name" name="name" >
     <br>
     Catagory<br>
      <input type="text" id="cat_name" name="catagory" >
      <br>
      Product<br>
      <input type="text" id="product_name" name="Product" >
      <br>
      Price<br>
      <input type="number" id="price" name="Total Price" >
      <br>
      Date<br>
      <input type="date" id="date" name="Order date" >
      <br>
    </form>
    </body>
 </html>


